body {
    font-family: 'Raleway', sans-serif;
    min-height:100vh;
    background-color: #fafcff;
}

.content {
    margin-top: 100px;
}
.bg-light {
    background-color: #f2fffe !important;
}

.footer {
    background-color: #f2fffe;
}

.footer-copyright {
    background-color: #00fae5;
}

.clickable:hover {
    cursor: pointer;
    color: rgb(8, 71, 206);
}