<div class="likes_comments_section">
    <div class="row">
        <div class="col-12">
            <div class="likes_comments">
                <div class="likes_comments_details mb-3">
                    <nav class="nav">
                        <ul class="nav ml-auto">
                            <li class="nav-item" id="like-section">
                                {% include 'like/like_section.html' %}
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span id="comments_count">{{ comments_count }}</span> <i
                                        class="far fa-comments"></i></a>
                            </li>
                        </ul>
                    </nav>
                    {% if not user.is_authenticated %}
                    <div class="text-right">
                        <small class="text-muted">Need <a href="{% url 'account:login' %}">Login</a> to like and
                            comment on this post</small>
                    </div>
                    {% endif %}
                </div>
                <div id="comment-section">
                    {% include 'comment/comments.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'comment/comment_delete_model.html' %}