{% extends 'base.html' %}
{% load static %}

{% block title %}Source{% endblock %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'blog/css/draft_blog.css' %}">
{% endblock %}

{% block content %}
<div class="container content flex-fill">
    <div class="card blog_detail">
        <h4 class="card-title blog_title">{{ post.get_title }}</h4>
        {% if  post.get_image %}
        <img class="card-img-top" src="{{ post.get_image.url }}" alt="Card image cap" height="600px">
        {% endif %}
        <div class="card-body">
            <p class="date">Last Updated - {{ post.modified_date|timesince }}</p>
            <p class="card-text">{{ post.get_description }}</p>
            <p class="card-text">{{ post.get_content|safe }}</p>
        </div>
    </div>
</div>
{% endblock %}