{% extends 'base.html' %}
{% load static %}

{% block title %}Tech Source{% endblock %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid row content flex-fill">
    <div class="col-sm-9 left-section">
        <div class="row row-cols-xl-3">
            {% for post in posts %}
            <div class="col mb-4">
                <div class="card h-100 blog">
                    <a href="{% url 'blog:blog_detail' post.get_slug%}"><img class="card-img-top card-img"
                            src="{{ post.get_image.url }}" alt="Card image cap"></a>
                    <div class="card-body">
                        <h4 class="card-title clickable" data-href="{% url 'blog:blog_detail' post.get_slug%}">
                            {{ post.get_title }}</h4>
                        <p>by <span class=" font-weight-bold clickable"
                                data-href="{% url 'account:user_public_profile' post.author.get_slug %}">
                                {{ post.author.get_username }}</span>
                        </p>
                        <p class="card-text ">{{ post.get_description }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="text-left">
                            <ul class="list-unstyled list-inline m-0">
                                <li class="list-inline-item ">Last Updated: {{ post.modified_date|timesince }} ago
                                </li>
                                <li class="list-inline-item pl-2"><i class="far fa-thumbs-up pl-1">
                                    </i> {{ post.get_post_like_count }} Like{{ post.get_post_like_count|pluralize }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-3 right-section">
        <!-- <div class="text-center newsletter">
            <h4 class="pb-2">News and Updates</h4>
            <p class="pt-2 mb-3">Subscribe to our newsletter and receive the latest news
                from Tech Source</p>
            <form action="#" class="subscribe-form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email Address">
                    <input type="submit" value="Subscribe" class="mt-2 btn btn-outline-primary form-control">
                </div>
            </form>
        </div> -->
        <div class="category">
            <h4>Category</h4>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a href="{% url 'blog:home' %}">All</a>
                        </td>
                        <td>{{ all_post_count }}</td>
                    </tr>
                    {% for category in categories %}
                    <tr>
                        <td>
                            <a href="{% url 'blog:category_filter' category.get_slug %}">{{ category.get_name }}</a>
                        </td>
                        <td>{{ category.get_no_of_posts }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="popular-post">
            <h4>Popular Blogs</h4>
            <div class="card mb-3">
                <img class="card-img-top card-img" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap" height="200">
                <div class="card-body">
                    <p class="card-title">Card Title</p>
                </div>
            </div>
            <div class="card mb-3">
                <img class="card-img-top card-img" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap" height="200">
                <div class="card-body">
                    <p class="card-title">Card Title</p>
                </div>
            </div>
            <div class="card mb-3">
                <img class="card-img-top card-img" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap" height="200">
                <div class="card-body">
                    <p class="card-title">Card Title</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block script %}
{% endblock%}