{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Password Change{% endblock %}

{% block css_link %}
<link href="{% static 'account/css/password_change_form.css' %}" rel="stylesheet" />
<link href="{% static 'account/css/base.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container flex-fill content">
    <div class="card" id="password_change">
        <div class="card-header custom_card_header">
            {% if user.has_usable_password %}
            Change Password
            {% else %}
            Set New Password
            {% endif%}
        </div>
        <div class="card-body">
            <form id="password_change_form" class="card_space" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group row">
                    <div class="col-sm-5">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-sm-7">
                        {{ field|add_class:"form-control"}}
                    </div>
                </div>
                {% for error in field.errors %}
                <p class="invalid">{{ error }}</p>
                {% endfor%}
                <small class="form-text text-muted help_text">{{ field.help_text }}</small>
                {% endfor %}
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Change Password">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}