{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Password Reset{% endblock %}

{% block css_link %}
<link href="{% static 'account/css/password_reset_form.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'account/css/base.css' %}">
{% endblock %}

{% block content %}
<div class="container flex-fill content">
    <div id="password_reset" class="card">
        <div class="card-header custom_card_header">
            Reset Your Password
        </div>
        <div class="card-body">
            <p>To reset your password, Enter the registered email address</p>
            <form id="password_reset_form" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="id_email" class="col-sm-2 col-form-label">Email:</label>
                    {{ form.email|add_class:"col-sm-9"}}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Send Reset Link">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}