{% extends "base.html" %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block css_link %}
<link href="{% static 'account/css/sign_up.css' %}" rel="stylesheet" />
<link href="{% static 'account/css/base.css' %}" rel="stylesheet" />
{% endblock %}


{% block content %}
<div class="text-center content container flex-fill">
    <h4>Password reset link sent</h4>
    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You
        should receive them shortly. If you don't receive an email, please make sure you've entered the address you
        registered with, and check your spam folder.</p>
</div>
{% endblock %}