{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Change Password{% endblock %}

{% block css_link %}
<link href="{% static 'account/css/password_reset_confirm.css' %}" rel="stylesheet" />
<link href="{% static 'account/css/base.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container content flex-fill">
    {% if validlink %}
    <div class="card" id="password_reset_confirm">
        <div class="card-header custom_card_header">
            Set New password
        </div>
        <div class="card-body">
            <form id="password_reset_change" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field|add_class:"form-control"}}
                    {% for error in field.errors %}
                    <p class="invalid">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="form-group">
                    <input type="submit" class="btn btn-primary form-control" value="Set password">
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <p class="text-center">The password reset link was invalid, possibly because it has already been used. Please
        request a
        new password reset</p>
    {% endif %}
</div>
{% endblock %}