.content {
    margin-bottom: 20px;
}

#profile_update {
    width: 60%;
    margin: auto;
}

.update_btn {
    text-align: center;
}

.update_btn .btn {
    width: 40%;
}

.profile_pic {
    width: 150px;
    height: 150px;
}

.profile_pic:hover {
    cursor: pointer;
}

#id_pic {
    display: none;
}

#upload {
    margin-right: 15px;
}

#upload:hover{
    cursor: pointer;
}